@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic);

body{
	font-family:'Source Sans Pro',Arial,sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	font-size:14px;
	line-height:1.6;
	text-align: justify;
	color:#696969;
    background-image:  url(logo_x_pattern/logo_x_pattern.png);
}



.margin-bottom-20 {
    margin-bottom: 20px;
}

#seb-wrap{
	min-height:100%
}

#seb-content {
    overflow: visible;
    padding-bottom: 120px;
}

#top {
    min-height: 50px;
    padding: 4px 0 0;
    background-color: white;/*#9C27B0;*/
    color: #3254a5;
}


#logo img {
	max-width: 40%;
}

#header {
    z-index: 999;
    /*padding: 2px 0 15px 0;*/
}

.navbar>.container {
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}


.navbar-default {
	    background-color: #044084;
        border-color: rgba(231, 231, 231, 0.06);
}

.navbar-default .navbar-nav>li>a {
    font-family: "Merriweather", serif;
    font-size: 14px;
	color: white;
}

.navbar-default .navbar-nav>li>ul>li>a {
    font-family: "Merriweather", serif;
    font-size: 14px;
    color: #044084;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #044084;
    background-color: #DADFF7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #044084;
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #9C27B0;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-toggle {
    border-radius: 0px;
}

.camera_nav {
    position: absolute;
    left: 21.2%;
    bottom: 24%;
    width: 105px;
}

.carousel-inner {
	height: 100%;
    position: relative;
    width: 100%;
    right: 0px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}

div#myCarousel {
	margin: 0 auto;
    margin-bottom: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;/*1366px;*/
    height: auto;
}

.carousel-caption {
    text-align: left;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 40px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.carousel-caption h1 {
    font-size: 60px;
    color: #105FB9;
    text-shadow:  0px 1px 6px #FFFFFF;
}

.fa {
    display: block;
}

.fa-phone:before {
    position: absolute;
    font-size: 28px;
    left: 0;
}

.fa-phone .phone-num {
    margin-left: 25px;
    text-decoration: none;
}

#contact {
   margin: 20px;
   float: right;
}

.logo-left {
    float: left;
}

.logo-right {
    float: right;
}

.three-cards>.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    border-radius: .25rem;
}

.three-cards>.card>.card-block {
    font-family: "Merriweather", serif;
    padding: 1em;
}

.three-cards>.card>.card-block>h3 {
    margin-top: 10px;
    color: white;
    font-size: 22px;
}

.three-cards>.card>.top {
    background-color: rgb(7, 78, 158);
}

.small-owl {
    position: absolute;
    width: 55px;
    display: none;
}

#myTab>.card {
    padding: 15px;
    background-color: rgba(246, 245, 247, 0.7);
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
    
}

#myTab>.card>.card-block>h3 {
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: #18569C;
}

.tab-content>.tab-pane {
    font-family: "Merriweather", serif;
    font-size: 12px;
    background-color: white;
    margin-bottom: 20px;
    padding: 5px;
}

#myTab>.nav-tabs>li>a {

}

.my-img {
    width: 80px;
    padding: 5px;
    margin-right: 20px;
    float: left;
}

#seminars {
    height: auto;
    background-color: #18569C;
    margin-right: 15px;
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
}

#seminars>.card {
    margin-top: 10px;
    padding: 15px;
    /*background-color: #18569C;*/
    /*box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);*/
}

#seminars>.card>.card-block>h3 {
    font-family: "Merriweather", serif;
    font-size: 22px;
    margin-top: 10px;
    color: white;
}

#seminars>.card>.card-block>li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#seminars>.card>.card-block>li:before {
    content: '\f006';
    font-family: 'FontAwesome';
    font-size: 15px;
    float: left;
    margin-right: 5px;
    color: #f5f5f5;
}

#jobs>.card {
    padding: 15px;
    background-color: rgba(246, 245, 247, 0.7);
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
    
}

#jobs>.card>.card-block>h3 {
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: #18569C;
}

#jobs>.card>.card-block>a {
    font-family: "Merriweather", serif;
}

.job-desc {
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 14px;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #88ADD6;
}

.job-desc span {
    font-weight: 700;
    color: #18569C;
}

#footer {
    background-color: #044084;
}

#global-footer {
    padding: 20px;
}

#global-footer .logo-left {
    display : flex;
    margin-left: 50px;
}

#footer-logo {
        display: flex;
}

#global-footer ul {
    list-style-type:none;
    padding-left: 10px;
    margin-bottom: 0px;
}

#global-footer ul a {
    font-family: "Merriweather", serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.footer-owl {
    width: 90px;
    display: block;
    padding: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FDFAFA;
}

.social {
    margin: 20px;
    float: right;
}

#global-footer .logo-right {
    margin-right: 50px;
}

.social img {
    width: 40px;
}

.scrollup {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    background-color: #DC0F0F;
    border-radius : 100%;
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
}

.scrollup>a {
    margin: auto; 
    color: white;
    text-decoration: none;
}

.scrollup>a:before {
   margin-left: 16px;
   font-family: FontAwesome;
   font-size: 30px;
   content: "\f062";
   vertical-align:middle;
   text-align: center;
   line-height: 55px;
}

#hideAll {
   width: 100%;
   height: 100%; 
   position: fixed;
   font-size: 30px;
   color: white;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #044288;
   z-index: 1050; /* Higher than anything else in the document */
}

#hideAll img {
    display: block;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#copy-right {
    font-family: "Merriweather", serif;
    font-size: 12px;
    color: white;
    text-align: center;
}


@media (max-width:767px) {

	#logo img {
		max-width: 40%;
	}
	#logo .img-responsive {
    	margin: 0 auto;
	}

    #contact {
        display: block;
        font-size: 12px;
        float: none;
        border-top: thin double purple;
        margin: auto;
        text-align: center;
    }

    .fa-phone {
        display: inline-block;
        padding: 5px 0 5px 0;
    }

 
    .logo-left {
        float: none;
    }

    .logo-right {
        float: none;
    }

    .carousel-caption {
        font-size: 30px;
    }
    .carousel-caption h1 {
        font-size: 40px;
    }

    /*.carousel-inner .item {
        margin: 0 -3em 0 -3em;
    }*/

    .carousel-caption {
        right: 40%;
        left: 35%;
        padding-bottom: 30px;
    }

    .small-owl {
        position: absolute;
        width: 50px;
        left: 8px;
        top: 5px;
        display: none;
    }

    #myTab {
        padding: 10px 10px 10px 10px;
        margin: 0 15px 15px 15px;
    }

    #seminars {
        margin-left: 15px;
    }

    .my-img {
        display: none;
    }

    #footer-logo {
        float: none;
        margin: auto;
    }

    #global-footer .logo-left {
        margin-left: 0px;
    }

    #global-footer .logo-right {
        margin-right: 0px;
        float: none;
    }

    .social {
        display: block;
        float: none;
        margin: 10px;
        text-align: center;
    }

    .social img {
        width: 30px;
    }

    .scrollup {
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
    }

    body {
        background-color: yellow;
    }
}

@media (max-width:991px) {

    body {
        background-color: green;
    }
}

@media (min-width: 360px) and (max-width: 450px) {

	#logo img {
		max-width: 55%;
	}

	#logo .img-responsive {
    	margin: 0 auto;
	}

    .carousel-caption {
        font-size: 28px;
    }
    .carousel-caption h1 {
        font-size: 35px;
    }

    /*.carousel-inner .item {
        margin: 0 -4em 0 -3em;
    }*/

    .carousel-caption {
        right: 42%;
        left: 45%;
        padding-bottom: 70px;
    }

    .my-img {
        display: none;
    }

    body {
        background-color: red;
    }
}

@media (max-width: 360px) {
    #logo img {
        max-width: 60%;
    }

}

@media (min-width:768px) {

    .carousel-caption {
        right: 40%;
        left: 20%;
        padding-bottom: 30px;
    }
}

@media (min-width:768px)and (max-width:991px) {
      .my-img {
        display: none;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

}

@media (min-width:992px) {

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width:992px)and (max-width:1199px) {
    
  
}

@media (min-width:1200px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
   
}