@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic);

@font-face {
    font-family: MoonLight;
    src: url(MoonLight.otf);
}

@font-face {
    font-family: MoonBold;
    src: url(MoonBold.otf);
}



body{
	font-family:'Source Sans Pro',Arial,sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	font-size:14px;
	line-height:1.6;
	text-align: justify;
	color:#696969;
    background-image:  url(logo_x_pattern/logo_x_pattern.png);
}

#form-button {
    position: fixed;
    top: 200px;
    left: -2px;
    width: auto;
    height: auto;
    font-family: "Merriweather", serif;
    font-size: 12px;
    background-color: #DC0F0F;
    z-index: 999;
    border-color: rgb(220, 15, 15);
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}

#cma-program-button {
    position: fixed;
    top: 200px;
    right: -2px;
    width: auto;
    height: auto;
    font-family: 'Quicksand', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    background-color: #dc0f0f;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s infinite; /* Firefox */
    -webkit-animation:myfirst 1s infinite; /* Safari and Chrome */
    z-index: 999;
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background-color:#dc0f0f;}
50%  {background-color:#2c7f2f;}
100% {background-color:#dc0f0f;}
}
 
@-webkit-keyframes myfirst /* Firefox */
{
0%   {background-color:#dc0f0f;}
50%  {background-color:#2c7f2f;}
100% {background-color:#dc0f0f;}
}




#cma-program-poster .img-responsive {
    margin: 0 auto;
}

#download-pdf {
    margin: 0 auto;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

#seb-wrap{
	min-height:100%
}

#seb-content {
    overflow: visible;
    padding-bottom: 120px;
}

#top {
    min-height: 50px;
    padding: 4px 0 0;
    background-color: white;/*#9C27B0;*/
    color: #3254a5;
}


#logo img {
	max-width: 40%;
}

#header {
    z-index: 999;
    /*padding: 2px 0 15px 0;*/
}

.navbar>.container {
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}


.navbar-default {
	    background-color: #044084;
        border-color: rgba(231, 231, 231, 0.06);
}

.navbar-default .navbar-nav>li>a {
    font-family: MoonBold;/* "Merriweather", serif;*/
    font-size: 15px;
	color: white;
}

.navbar-default .navbar-nav>li>ul>li>a {
    font-family: MoonLight;
    font-weight: 800;
    font-size: 14px;
    color: #044084;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #044084;
    background-color: #DADFF7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #044084;
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #9C27B0;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-toggle {
    border-radius: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(231, 231, 231, 0);
}

.camera_nav {
    position: absolute;
    left: 21.2%;
    bottom: 24%;
    width: 105px;
}

.carousel-inner {
	height: 100%;
    position: relative;
    width: 100%;
    right: 0px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
}

div#myCarousel {
	margin: 0 auto;
    margin-bottom: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;/*1366px;*/
    height: auto;
}

.carousel-caption {
    text-align: left;
    font-family: "Merriweather", serif;
    /*font-style: italic;*/
    font-size: 30px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
}



@-webkit-keyframes fadein {
    from { left : -100px; opacity: 0;}
    to   { left: 20%; opacity: 1; }
}

.carousel-caption span {
    background-color: #0e5ab1;
    padding: 5px 10px;
}


.fa {
    display: block;
}

.fa-phone:before {
    position: absolute;
    font-size: 28px;
    left: 0;
}

.fa-phone .phone-num {
    margin-left: 25px;
    text-decoration: none;
}

#contact {
   margin: 20px;
   float: right;
}

.logo-left {
    float: left;
}

.logo-right {
    float: right;
}

.three-cards>.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    box-shadow: 0px 0px 7px 0px rgba(78,1,82,1);
    border-radius: .25rem;
}

.three-cards>.card>.card-block {
    font-family: "Merriweather", serif;
    padding: 1em;
}

.three-cards>.card>.card-block>h3 {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.three-cards>.card>.top {
    background-color: rgb(7, 78, 158);
}

.small-owl {
    position: absolute;
    width: 55px;
    display: none;
}

#myTab>.card {
    padding: 15px;
    background-color: rgba(246, 245, 247, 0.7);
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
    
}

#myTab>.card>.card-block>h3 {
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: #18569C;
}

.tab-content>.tab-pane {
    font-family: "Merriweather", serif;
    /*font-size: 12px;*/
    background-color: white;
    margin-bottom: 20px;
    padding: 5px;
}

#myTab>.nav-tabs>li>a {

}

.my-img {
    width: 80px;
    padding: 5px;
    margin-right: 20px;
    float: left;
}

#seminars {
    height: auto;
    background-color: #18569C;
    margin-right: 15px;
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
}

#seminars>.seminar {
    margin-top: 15px;
    padding: 5px;
    background-color: #840381;
    /*box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);*/
}

#seminars>.conference {
    margin-top: 15px;
    padding: 15px;
    background-color: #7E29E0;
    /*box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);*/
}

#seminars>.card>.card-block>h3 {
    font-family: "Merriweather", serif;
    font-size: 22px;
    margin-top: 0px;
    color: white;
}

#seminars>.card>.card-block>li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#seminars>.card>.card-block>li:before {
    content: '\f006';
    font-family: 'FontAwesome';
    font-size: 15px;
    float: left;
    margin-right: 5px;
    color: #f5f5f5;
}

#jobs>.card,  #about>.card, #partners>.card, #contact-us>.card, #team>.card, #board>.card, #services>.card, #main-partners>.card{
    padding: 15px;
    background-color: rgba(246, 245, 247, 0.7);
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
    
}

#jobs>.card>.card-block>h3, #about>.card>.card-block>h3, #partners>.card>.card-block>h3, #contact-us>.card>.card-block>h3, #services>.card>.card-block>h3, #main-partners>.card>.card-block{
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 22px;
    color: #18569C;
}

#jobs>.card>.card-block>a {
    font-family: "Merriweather", serif;
}

#about>.card>.card-block>p {
    font-size: 17px;
    padding: 35px 35px 0 35px;
}

.job-desc {
    margin-top: 10px;
    font-family: "Merriweather", serif;
    font-size: 14px;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #88ADD6;
}

.job-desc span {
    font-weight: 700;
    color: #18569C;
}

#footer {
    background-color: #044084;
}

#global-footer {
    padding: 15px;
}

#global-footer .logo-left {
    display : flex;
    margin-left: 50px;
}

#footer-logo {
        display: flex;
}

#global-footer ul {
    list-style-type:none;
    padding-left: 10px;
    margin-bottom: 0px;
}

#global-footer ul a {
    font-family: "Merriweather", serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.footer-owl {
    width: 90px;
    display: block;
    padding: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #FDFAFA;
}

.social {
    margin: 20px;
    float: right;
}

#global-footer .logo-right {
    margin-right: 50px;
}

.social img {
    width: 40px;
}

.scrollup {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    background-color: #DC0F0F;
    border-radius : 100%;
    box-shadow: 0px 0px 7px 0px rgba(78, 1, 82, 0.99);
}

.scrollup>a {
    margin: auto; 
    color: white;
    text-decoration: none;
}

.scrollup>a:before {
   margin-left: 16px;
   font-family: FontAwesome;
   font-size: 30px;
   content: "\f062";
   vertical-align:middle;
   text-align: center;
   line-height: 55px;
}

#hideAll {
   width: 100%;
   height: 100%; 
   position: fixed;
   font-size: 30px;
   color: white;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #044288;
   z-index: 1050; /* Higher than anything else in the document */
}

#hideAll img {
    display: block;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#copy-right {
    font-family: "Merriweather", serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

.btn-success {
    color: #fff;
    background-color: #0D6DBB;
    border-color: #3958B5;
}


.conference {
    display: none;
}

.panel {
    background-color: #fff;
    border: 1px solid #A4C1E2;
    font-family: "Merriweather", serif;
}

.panel-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #A4C1E2;
    font-family: "Merriweather", serif;
    color: #18569C;
}

.post {
    padding: 10px 30px;
}

.tagline {
    margin-top: -15px;
    background: rgb(4, 64, 132);
    /*background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgb(18, 41, 64) 0%, rgb(8, 100, 206) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );*/
}

.tagline h1 {
    font-family: Merriweather;
    color: white;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#team .img-responsive{
    width: 40%;
    margin: 0 auto;
}

#team h4 {
    text-align: center;
    color: #044084;
}

#team-tab1, #team-tab2 {
    padding: 15px;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#board h4 {
    text-align: center;
    color: #044084;
}

#board-tab1, #board-tab2, #board-tab3, #board-tab4, #board-tab5, #board-tab6 {
    padding: 15px;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.services-block h3 {
    margin-top: 10px;
    background-color: rgba(245, 245, 245, 0);
}

#partners img {
    margin: 0 auto;
}

#partners h3 {
    color: #18569C;
    margin-top: 10px;
}

#partners a {
    margin-top: 10px;
}

.calwest-img {
    width: 40%;
    background-color: #0c426f;
}

.topacademy-img {
    width: 20%;
}

.cmawebline-img {
    width: 30%;
}

.ssmgroup-img {
    width: 25%;
}

#main-partners img {
    margin: 0 auto;
}


@media (max-width:767px) {

	#logo img {
		max-width: 40%;
	}
	#logo .img-responsive {
    	margin: 0 auto;
	}

    #contact {
        display: block;
        font-size: 12px;
        float: none;
        border-top: thin double purple;
        margin: auto;
        text-align: center;
    }

    .fa-phone {
        display: inline-block;
        padding: 5px 0 5px 0;
    }

 
    .logo-left {
        float: none;
    }

    .logo-right {
        float: none;
    }

    .carousel-caption {
        font-size: 10px;
    }

    /*.carousel-inner .item {
        margin: 0 -3em 0 -3em;
    }*/

    .carousel-caption {
        padding-bottom: 30px;
    }

    .small-owl {
        position: absolute;
        width: 50px;
        left: 8px;
        top: 5px;
        display: none;
    }

    #myTab {
        padding: 10px 10px 10px 10px;
        margin: 0 15px 15px 15px;
    }

    #seminars {
        margin-left: 15px;
    }

    .my-img {
        display: none;
    }

    #footer-logo {
        float: none;
        margin: auto;
    }

    #global-footer .logo-left {
        margin-left: 0px;
    }

    #global-footer .logo-right {
        margin-right: 0px;
        float: none;
    }

    .social {
        display: block;
        float: none;
        margin: 10px;
        text-align: center;
    }

    .social img {
        width: 30px;
    }

    .scrollup {
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
    }

    #form-button {
        font-size: 10px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #F9F9F9;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #F9F9F9;
    }

    #manage-team img{
        width: 50%;
        margin: 0 auto;
    }

    #team h4 {
        font-size: 14px;
    }

    #team a {
        text-decoration: none;
    }

    #board h4 {
        font-size: 14px;
    }

    #board a {
        text-decoration: none;
    }

    .calwest-img {
        width: 80%;
        background-color: #0c426f;
    }

    .topacademy-img {
        width: 60%;
    }

    .cmawebline-img {
        width: 80%;
    }

    .ssmgroup-img {
        width: 80%;
    }

    .tagline h1 {
        font-family: Merriweather;
        font-size: 26px;
        color: white;
        text-align: center;
    }
}

@media (max-width:991px) {

    .three-cards>.card>.card-block>h3 {
        font-size: 17px;
    }

    #partners h3 {
        font-size: 20px;
    }

    .services-block h3 {
        font-size: 20px;
    }
}

@media (min-width: 360px) and (max-width: 450px) {

	#logo img {
		max-width: 55%;
	}

	#logo .img-responsive {
    	margin: 0 auto;
	}

     .carousel-caption {
        font-size: 10px;
        padding-bottom: 0px;
        bottom: 0px;
    }

    .my-img {
        display: none;
    }
}

@media (max-width: 360px) {
    #logo img {
        max-width: 60%;
    }

}

@media (min-width:768px) {

    .carousel-caption {
        right: 40%;
        left: 20%;
        padding-bottom: 30px;
        font-size: 20px;
    }
}

@media (min-width:768px)and (max-width:991px) {

    #logo img {
        max-width: 55%;
    }

      .my-img {
        display: none;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    #manage-team img{
        width: 50%;
        margin: 0 auto;
    }

}

@media (min-width:992px) {

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .carousel-caption {
        font-size: 30px;
    }
}

@media (min-width:992px)and (max-width:1199px) {
    .carousel-caption {
        font-size: 20px;
    }
}

@media (min-width:1200px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}